https://coolors.co/palette/9c89b8-f0a6ca-efc3e6-f0e6ef-b8bedd



Font Name-Playfair Display

Font Link- https://fonts.google.com/specimen/Playfair+Display

Color pallet - 231942-5e548e-9f86c0-be95c4-e0b1cb

Color Name -Russian violet-231942
            Ultra Violet-5e548e
            African Violet-9f86c0
            Lilac-be95c4
            Pink lavender-e0b1cb
